body {
  background-color: deeppink;
  color: black;
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}
    button {
       background-color: rgb(250, 115, 176);
       color: rgba(12, 15, 18, 0.988);
       font-family:  "Bai Jamjuree", sans-serif; 
    }
